html{
  height: 100%;
  width: 100%;
}

body{
  position: absolute;
  margin: 0%;
  height: 100%;
  width: 100%;
  background-image: url(../img/bck.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;/*pas de scroll lateral*/
  overflow-y: hidden;/*pas de scroll vertical*/
}

h2{
  text-align-last: center;
}

.boxcenter{
  position: absolute;
  height: 60%;
  width: 60%;
  top: 20%;
  left: 20%;
  border: 1px solid red;
  background-color: hsla(226, 32%, 49%, 0.69);/*bleu azure avec alpha*/
}
table{
  height: 90%;
  width: 60%;
  border-collapse: collapse;
  margin: 1%;
  margin-top: 1%;
  margin-top: 2.5%;
}
td{
  height: 10%;
  width: 7%;
  border: 1px solid black;
}
.classBase{
  background-color:blue;
  color:orange;
}
.play1{
  background-color: red;
}

.play2{
  background-color: green;
}
.test{
  background-color: red;
  height: 2%;
  width: 2%;
  margin: 1%;
  margin-top: 1%;
  margin-top: 2.5%;
}
