html{
  height: 100%;
  width: 100%;
}

body{
  position: absolute;
  margin: 0%;
  height: 100%;
  width: 100%;
  background-image: url(../img/bck.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;/*pas de scroll lateral*/
  overflow-y: hidden;/*pas de scroll vertical*/
}

h2{
  height: 10%;
  text-align-last: center;
  color: white;
  text-decoration-line: underline;
}
h3{
  margin: 2%;
  text-align: center;
  text-decoration-line: underline;
}

.boxcenter{
  position: absolute;
  display: flex;
  height: 60%;
  width: 60%;
  top: 20%;
  left: 20%;
  border: 1px solid black;
  background-color: hsla(226, 32%, 49%, 0.69);/*bleu azure avec alpha*/
}
table{
  height: 90%;
  width: 60%;
  border-collapse: collapse;
  margin: 1%;
  margin-top: 1%;
  margin-top: 5%;
}
td{
  height: 10%;
  width: 7%;
  border: 1px solid black;
}
.classBase{
  background-color:rgba(230, 245, 236, 0.59);
}
.play1{
  background-color: blue;
}

.play2{
  background-color: green;
}
.affichageJoueur{
  height: 90%;
  width: 35%;
  background-color:rgba(230, 245, 236, 0.59);
  margin: 1%;
  margin-top: 5%;
}

.scoreJ1{
  float: left;
  border-right: 1px solid;
  width: 49.5%;
  height: 50%;
  text-align: center;
  background-color: blue;
}
.scoreJ2{
  float: right;
  border-left: 1px solid;
  width: 49.5%;
  height: 50%;
  text-align: center;
  background-color: green;
}
.tourJEtNbTours{
  margin-bottom: 0%;
  text-align: center;
  width: 99%;
  height: 35%;
  /*border: 1px solid red;*/
  float: inline-end;
}
#winJ1{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: blue;
  display: none;
  text-align: center;
}
#winJ2{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: green;
  display: none;
  text-align: center;
}
#resetGame{
  display: none;
}
